/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-box{
    width: 80%;
    margin: 30px auto;
    text-align: center;

}

body{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

h1{
    color: rgb(243, 35, 112);
    font-size: 40px;
}

h3, h4{
    color: white;
    line-height: 160%;
}

h5{
    color: rgb(77, 188, 224);
    line-height: 160%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}

/* header */

header{
    margin-bottom: 40px;
}

/* blocco principale */

section{
    margin-bottom: 30px;
}

    /* righe */

.row{
    margin-bottom: 40px;
    text-align: left;
}

    /* cards */

.card{
    float: left;
    width: calc((100%/3) - (60px/3));
    margin-right: 30px;
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card:last-child{
    margin: 0;
}
        /* content cards */

.card > :first-child{
    float: left;
    width: 30%;
}

.card > :last-child{
    float: left;
    width: calc(70% - 30px);
    margin: 10px 15px;
    overflow: auto;
}